
.idea/workspace.xml
.idea/dbnavigator.xml
.idea/expenses_bot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
db.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_26_10_2022_10_59_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_26_10_2022_10_59__Changes_.xml
__pycache__/creds.cpython-310.pyc
__pycache__/db.cpython-310.pyc
db.sqlite
db.sqlite
db.sqlite
db.sqlite
